.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backbtn {
  margin-left: 20px;
}

.btn {
  width: 100px;
  height: 40px;
}

input.search-box-div {
  height: 37px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 553px;
}

.btnpointer {
  cursor: pointer;
}

select {
  appearance: none;
  outline: 0;
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
  float: right;
  height: 37px;
  border-radius: 5px;
  padding: 5px 20px;
}

th.actionDiv {
  text-align: center;
}